---
layout: default
title: Wennbo Zhang
picture: life
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>
        <strong style="font-family: 'Times New Roman'; font-size: 24px;">Wenbo Zhang</strong> (<span style="font-family: 'STXingkai'; font-size: 26px;">张文博</span>)
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <address>
        Welcome to my homepage! <br/>
<!--         Second year Ph.D. student in Informatics
        , <a href="https://www.psu.edu/">Pennsylvania State University</a><br/> -->
      </address>
    </div>
    <div class="col-sm-12" style="padding-left: 0!important;">
      <div class="col-sm-6">
        <div class="col-sm-1" style="padding-left: 0!important;"><a href="mailto:wjz5120@psu.edu"><img src="img/ico/envelop.png" style="width: 30px!important; height: 30px!important;" alt=""/></a></div>
        <div class="col-sm-1" style="padding-left: 0!important;"><a  href="#"><img src="img/ico/google_scholar.png" style="width: 30px!important; height: 30px!important;" alt=""/></a></div>
        <div class="col-sm-1" style="padding-left: 0!important;"><a href="https://www.linkedin.com/in/wenbo-zhang-a46b05164/"><img src="img/ico/linkedin.png" style="width: 30px!important; height: 30px!important;" alt=""/></a></div>
        <div class="col-sm-1" style="padding-left: 0!important;"><a href="https://github.com/wenbozhangjs"><img src="img/ico/github.png" style="width: 30px!important; height: 30px!important;" alt=""/></a></div>
      </div>
      <div class="col-sm-6"></div>
<!--       <img src="img/ico/envelop.png" style="width: 30px!important; height: 30px!important;" alt=""/> Email: <a href="mailto:wjz5120@psu.edu">wjz5120@psu.edu</a><br/>
      <img src="img/ico/goole_scholar.png" alt=""/> Google Scholar: <a href="#">#</a><br/>
      <img src="img/ico/linkedin.png" alt=""/> LinkedIn: <a href="https://www.linkedin.com/in/wenbo-zhang-a46b05164/">https://www.linkedin.com/in/wenbo-zhang-a46b05164</a><br/>
      <img src="img/ico/github.png" alt=""/> Github: <a href="https://github.com/wenbozhangjs">https://github.com/wenbozhangjs</a><br/> -->
    </div>
<!--     <div class="col-sm-4">
      <img src="img/ico/envelop.png" style="width: 30px!important; height: 30px!important;" alt=""/> Email: <a href="mailto:wjz5120@psu.edu">wjz5120@psu.edu</a><br/>
      <img src="img/ico/goole_scholar.png" alt=""/> Google Scholar: <a href="#">#</a><br/>
      <img src="img/ico/linkedin.png" alt=""/> LinkedIn: <a href="https://www.linkedin.com/in/wenbo-zhang-a46b05164/">https://www.linkedin.com/in/wenbo-zhang-a46b05164</a><br/>
      <img src="img/ico/github.png" alt=""/> Github: <a href="https://github.com/wenbozhangjs">https://github.com/wenbozhangjs</a><br/>
    </div> -->
  </div>
</div>


<!-- section welcome -->
<!-- <p>
<div style="text-align: center;color: #333!important;width: 100%;"><h4>Welcome!</h4></div>
</p> -->


<!-- section bio -->
<h4>Biography</h4>
<p>
I’m now Ph.D. student in <a href="https://www.psu.edu/">Pennsylvania State University</a>, advised by Dr. <a href="http://amulyayadav.com/">Amulya Yadav</a>. 
  Prior to Penn State, I was a algorithm engineer in <a href="https://www.kingsoft.com/">Kingsoft</a> AI lab. 
  The projects I worked focus on natural language processing and speech processing (especially speech synthesis).  
  Previously, I got my master's degree in Electrical Engineering from the University of Southern California, under the supervision of Prof. <a href="https://sites.usc.edu/raghu/">Cauligi Raghavendra</a> in 2018. 
  I obtained bachelor degree in University of Electronic Science and Technology of China in 2015.
</p>


<div class="solid-line"></div>
<h4>Research Interests</h4>
<ul>
  <li>Natural Language Processing</li>
  <li>AI for Social Good</li>
  <li>Computational Game Theory</li>
  <li>Speech Processing</li>
</ul>


<!-- section latest news-->
<!-- <div class="solid-line"></div>
<h4><span style="color: red;">News!</span></h4>
<p>
<span style="color: red;"><strong>We won the second place in the finals </strong></span>in the 
<a href="http://www.datadreams.org/race-race-4.html">Intelligent Investment Adviser Game</a> of the Big Data and Artificial Intelligence Innovation and Entrepreneurship Contest of 2017. This is one of the competitions about machine learning and NLP in China. 
</p> -->


<!-- section education background -->
<div class="solid-line"></div>
<h4>Education</h4>

<div><strong>Pennsylvania State University, PA, USA (2021 - Present)</strong></div>
<ul>
  <li>
    Doctor of Philosophy in Informatics
  </li>
  <li>Advisor: Dr. Amulya Yadav</li>
</ul>

<div><strong>University of Southern California, CA, USA (2016 - 2018)</strong></div>
<ul>
  <li>
    Master of science in Electrical Engineering
  </li>
  <li>Advisor: Dr. Cauligi Raghavendra</li>
</ul>

<div><strong>University of Electronic Science and Technology of China, Chengdu, China (2011 - 2015)</strong></div>
<ul>
  <li>
    Bachelor of Engineering in Renewable Energy Materials and Devices
  </li>
<!--   <li>Advisor: Dr. Amulya Yadav</li> -->
</ul>
<!--   <li>
    <strong>Master of Science</strong> | 
    <span>
      Electrical Engineering, University of Southern California
    </span>, 
    2016 - 2018<br/>
  </li>
  <li>
    <strong>Bachelor of Engineering</strong> | 
    <span>
      Renewable Energy Materials and Devices, University of Electronic Science and Technology of China
    </span>, 
    2011 - 2015<br/>
  </li>
</ul> -->


<!-- section paper list-->
<div class="solid-line"></div>
<h4>Recent Highlights</h4>
{% for post in site.papers %}
  {% include paper.html paper=post %}
{% endfor %}


<!-- section working experience -->
<div class="solid-line"></div>
<h4>Experience</h4>
<ul>
  <li>
<!--     <img style="width: 30px!important; height: 30px!important;" src="img/logo/redhat_logo.jpg"> -->
    <strong>Associate Quality Engineer</strong> | Red Hat<br/>
    <strong>Topic:</strong> Real Time Kernel<br/>
    Oct 2018 - present
  </li>
  <li>
<!--     <img style="width: 30px!important; height: 30px!important;" src="img/logo/cas_logo.jpg"> -->
    <strong>Research Intern</strong> | BMI, Chinese Academy of Sciences<br/>
    <strong>Topic:</strong> Natural Language Processing<br/>
    Dec 2017 - Sept 2018
  </li>
</ul>


<!-- section awards -->
<div class="solid-line"></div>
<h4>Awards</h4>
<ul>
  <li><strong>2nd place,</strong> The Intelligent Investment Adviser Game of the Big Data and Artificial Intelligence Innovation and Entrepreneurship Contest of 2017.</li>
  <li>2nd prize, Chongqing Division, China Undergraduate Mathematical Contest in Modeling (2013).</li>
  <li>National Endeavor Scholarship (top 5%) (2012).</li>
  <li>2nd prize, Scholarship, Chongqing University (top 3%) (2012).</li>
</ul>


<!-- section skills-->
<!-- <div class="solid-line"></div>
<h4>Skills</h4>
<p>
Python, Java, Shell, Linux, Docker, Hadoop, HBase, Sqoop, Pig, Elasticsearch, Tensorflow, Keras, MySQL,MongoDB, SVN, Git, Django, Web frameworks and skills (Django, SpringMVC, Struts2, HTML, Javascript, Ajax).
</p> -->


<!-- section others-->
<!-- <div class="solid-line"></div>
<h4>Others</h4>
<p>
Click <a href="self-evaluation.html"><strong class="color-blue-line">here</strong></a> to see my Self-evaluation.
</p> -->
<br/>
<p>
Thank you for visiting.
</p>
<br/>

<div>
  <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=tt&d=mFaxT5_Gxs_3AlkQfxb75Y66YQz07F4Hybrv8hHCDmI&co=38aafa&cmo=3acc3a&cmn=ff5353&ct=ffffff"></script>
</div>


